test/

mdtracker_tools/editor/MDTracker.Editor/
mdtracker_tools/editor/MDTracker.Editor.7z

mdtracker_tools/editor/mdtracker_editor_wx/build/.vs/
mdtracker_tools/editor/mdtracker_editor_wx/build/vcpkg_installed/
